*{
    margin: 100;
    padding: 30;
    }
    body{
        background:url('chai.jpg')no-repeat center center fixed;    
        background-size: 100%;
        
    }
    .navbar{
        background-color: greenyellow;
        border-radius: 30px;
    }
    .navbar li{
        float:left;
        list-style:none;
        margin: 13px 30px;
    }
    .navbar li a{
        padding: 3px 3px;
        text-decoration:none ;
        font-family: Georgia;
        color: black;
    }.navbar li a:hover{
        background-color:black;
        color:aliceblue;
        border-radius: 8px;
        cursor: pointer;
    }
    .navbar ul{
        overflow: auto;
    }
    .container{ 
    color: white;
    position: absolute;
    top: 10%;
    left: 40%; 

    }
    .menu {
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position:absolute ;
    top: 18%;
    left:40%;
    margin:auto ;
    border-radius: 5px;
    max-width: 260px;
    background-color:rgb(140, 167, 109); 
    }
    input[type=text], select{
        width: 100%;
        padding: 5px 8px;
        margin:7px 0px;
        display: inline-block;
        border: 1px solid #92cc92;
        border-radius: 4px;
        box-sizing:border-box;
    }
    input[type=submit] {
        width: 90%;
        background-color:black; 
        color: blanchedalmond;
        padding: 8px 5px;
        margin: 8px 8px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    input[type=submit]:hover{
        background:olivedrab;
        color:black;
    }